.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to bottom right, #96034b, #ffb19c);
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom styles */

.app-title {
  font-family: Georgia, serif;
  font-size: 32px;
  transform: scaleY(2.5);
  line-height: 1;
  margin: 5px;
  margin-top: 40px;
  color: #fcc721;
}

.app-subtitle {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1;
  margin: 5px;
  margin-top: 15px;
  color: #fcc721;
}

.song-artwork-container {
  display: flex;
  margin-top: 20px;
}

.playlist-header {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1;
  margin: 5px;
  margin-top: 40px;
}

.p-transparent {
  font-family: Georgia, serif;
  font-size: 11px;
  opacity: 0.5;
}