#song-artwork-box {
    max-width: 167px;
    flex: 1;
    margin: 15px;
}

#album-artwork {
    width: 133px;
    margin: auto;
}

#song-title {
    font-size: 14px;
    margin: auto;
    line-height: 1.2;
}

#artist-name {
    font-size: 11px;
    margin: auto;
    line-height: 1.5;
}